body{
    background-image:url(wether.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.home2{
    background-color: rgba(82, 228, 66, 0.178);
    border-radius: 10%;
    padding: 10%;
    padding-top: 4%;
    margin: 10%;
    margin-top: 1%;
    padding-bottom: 3%;
}
h2{
    text-align: center;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
}
h3{
    
}
.card2{
    background-color: rgba(35, 135, 8, 0.586);
    border-radius: 14%;
    margin-top: 4%;
}
.card3{
    background-color: rgba(35, 135, 8, 0.586) ;
    margin: 2%;
    border-radius: 20%;
}
.card1{
background-color: rgba(35, 135, 8, 0.586);
border-radius: 20%;
height: 10%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text1{
    
}
p{
margin-left: 10%;
margin-top: 30%;

}
.text1{
    width:60%;
    border-radius: 10%;
    background-color: rgba(124, 203, 126, 0.544);    
    
}
button{
    background-color: rgba(82, 211, 86, 0.604);

}
